* {
    padding: 0;
    margin: 0;
}

.body {
    background-color: #110e21;
}

.navbar {
    background-color: #141127;
}

.input {
    margin-right: 20px !important;
    width: 150px !important;
    height: 150px !important;
    font-size: 50pt !important;
    text-align: center !important;
    background-color: #110e21 !important;
}

/*Navegadores Padrão*/
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Navegadores Firefox*/
.input[type="number"] {
    -moz-appearance: none;
}

.buttonStart {
    background-color: #ba0d83 !important;
}

.time {
    color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto !important;
}

.circleTimer
{
    background-color: #141127 !important;    

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}


#timer {
    display: none !important;
}

h2 {
    font-size: 90pt;
}

.botaofim
{
    background-color: #ba0d83 !important;
}